# Configuración del servidor
PORT=3000

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=exampleUser
DB_PASSWORD=examplePassword123
DB_NAME_DATABASE=GDA00372_OT_WiliamLopez
DB_ENCRYPT=FALSE
DB_TYPE_AUTHENTICATION=default

# Configuración del secreto del token JWT
SECRET_KEY=exampleSecretKey1234567890abcdefgHJKL!@#12345

# Configuración para crear el operador
NOMBRE=wiliam
APELLIDO=Lopez
TELEFONO=987654321
CORREO=wlop@example.com
PASSWORD=securePassword123